.lottery {
	&-info {
		&Text {
			font-size: 20px;
			font-weight: bold;
			color: #000;
			@include media {
				font-size: 20px;
			}
			span {
				display: inline-block;
				@include media {
					display: block;
				}
			}
		}
	}
	&-contentBox {
		max-width: var(--w);
		width: 100%;
		background-image: linear-gradient(to bottom, #ffa300 40px, #7e7770 41px, #7e7770 42px, #e7e4dd 43px, #e7e4dd 100%);
		border-radius: 20px;
		border: 2px solid #7e7770;
		box-sizing: border-box;
		padding: 94px 20px 20px 20px;
		box-shadow: 0 0 4px 8px #ffc23b;
		@include media {
			max-width: vw(--mw);
			background-image: linear-gradient(to bottom, #ffa300 vw(40), #7e7770 vw(41), #7e7770 vw(42), #e7e4dd vw(43), #e7e4dd 100%);
		}
		&:before {
			content: "";
			width: 84px;
			height: 20px;
			background-size: 100%;
			background-image: url("./img/lottery/desc.png");
			position: absolute;
			top: 10px;
			right: 24px;
			@include media {
				width: vw(84);
				height: vw(20);
				top: vw(10);
				right: vw(24);
			}
		}
	}
	&-btn {
		&Lottery {
			width: 436px;
			height: 66px;
			background-size: 100%;
			background-image: url("./img/lottery/btn-lottery.png");
			@include media {
				width: vw(436);
				height: vw(66);
			}
		}
		&Task {
			width: 200px;
			height: 66px;
			background-size: 100%;
			background-image: url("./img/lottery/btn-task.png");
			@include media {
				width: vw(436);
				height: vw(200);
			}
		}
		&History {
			width: 200px;
			height: 66px;
			background-size: 100%;
			background-image: url("./img/lottery/btn-history.png");
			@include media {
				width: vw(436);
				height: vw(200);
			}
		}
		&-reward {
			width: 253px;
			height: 252px;
			background-size: 100%;
			background-image: url("./img/lottery/reward-bg2.png");
			@include media {
				width: vw(181);
				height: vw(180);
				background-image: url("./img/lottery/m-reward-bg2.png");
			}
			&SP {
				width: 577px;
				height: 300px;
				background-size: 100%;
				background-image: url("./img/lottery/reward-bg1.png");
				@include media {
					width: vw(577);
					height: vw(300);
				}
			}
		}
	}
}
