.navbar {
	background-color: #2d2d2d;
	display: flex;
	align-items: stretch;
	padding-left: 42px;
	&-home {
		width: 121px;
		height: 63px;
		background-size: cover;
		background-image: url("./img/navbar/slogan.png");
		display: inline-block;
		margin-right: 48px;
		align-self: center;
	}
	&-list {
		font-size: 0;
		margin-right: auto;
	}
	&-nav {
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		margin-right: 54px;
		padding: 32px 0;
		box-sizing: border-box;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
	&-login {
		padding: 0 90px;
		display: flex;
		align-items: center;
		border-left: 1px solid #8b8682;
		box-sizing: border-box;
		&Btn {
			width: 179px;
			height: 59px;
			background-size: cover;
			background-image: url("./img/navbar/btn-login-off.png");
		}
	}
	&-logout {
		&Btn {
			width: 89px;
			height: 59px;
			background-size: cover;
			background-image: url("./img/navbar/btn-logout-off.png");
		}
	}
}
