@charset "UTF-8";
@import "./_normalize.scss";
@import "./_mixins.scss";
@import "./inner.css";
$color: #000;
$title: #fff;

/*=============================================
Value
=============================================*/
/*=============================================
Base  
=============================================*/
body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: #000;
    font-family: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
